body {
  padding: 0;
  margin: 0;
  background-color: #9900ff;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  color: rgba(0, 0, 0, 0.4);
}

* {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

option {
  background-color: #8a00fc;
}

#new {
  width: 15%;
}

#hit,
#loss {
  width: 20%;
}

#hit {
  background-color: rgba(0, 255, 21, 0.582);
}

#loss {
  background-color: rgba(255, 0, 0, 0.438);
}

input,
button,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #00000050;
  color: white;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

input[type=submit],
button[type=submit],
select[type=submit] {
  padding: 15px 20px;
}

input::-webkit-input-placeholder,
button::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder,
button:-ms-input-placeholder,
select:-ms-input-placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

input::-ms-input-placeholder,
button::-ms-input-placeholder,
select::-ms-input-placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

input::placeholder,
button::placeholder,
select::placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

input:hover,
button:hover,
select:hover {
  background-color: #ffffff50;
}

input:active,
button:active,
select:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

input[type=checkbox],
button[type=checkbox],
select[type=checkbox] {
  text-align: center;
}

input[type=checkbox]::before,
button[type=checkbox]::before,
select[type=checkbox]::before {
  content: attr(value);
}

input[type=checkbox]:checked,
button[type=checkbox]:checked,
select[type=checkbox]:checked {
  background-color: rgba(60, 255, 0, 0.5);
}

input[type=checkbox]:checked:hover,
button[type=checkbox]:checked:hover,
select[type=checkbox]:checked:hover {
  background-color: rgba(43, 255, 0, 0.6);
}

div.container {
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px !important;
}

div.container div.wordContainer div.words div {
  display: inline-block;
  background-color: rgba(255, 145, 0, 0.6);
  padding: 20px 40px;
  border-radius: 10px;
  margin: 2px;
}

div.container div.wordContainer div.content {
  margin: 80px 0 0 0;
  font-size: 2rem;
  margin-bottom: 40px;
}

div.container div.menu {
  background-color: rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 100px;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

div.container div.menu select#select {
  height: 50%;
}

div.container div.menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.container div.menu div * {
  margin: 5px;
}

@media only screen and (max-width: 800px) {
  div.container div.menu {
    width: 100%;
    margin: 0 !important;
    bottom: 0;
    padding: 0;
    height: 70px;
  }
  div.container div.menu * {
    font-size: 15px;
  }
  div.container div.menu button {
    padding: 0;
    margin: 2px;
  }
  div.container div.menu button#new {
    font-size: 13px;
  }
  div.container div.menu div {
    position: relative;
  }
  div.container div.menu div button {
    height: 50%;
  }
  div.container div.menu div input,
  div.container div.menu div select {
    height: 50% !important;
    font-size: 10px;
    margin: 2px;
  }
}

div.new,
div.container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 80px;
  margin-bottom: 0;
  border-radius: 10px;
  height: calc(100% - 180px);
  width: calc(100% - 260px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  div.new,
  div.container {
    width: 100%;
    margin: 0 !important;
    padding-left: 0;
    padding-right: 0;
    font-size: 3rem !important;
    height: calc(100% - 90px);
  }
}

div.new {
  font-size: 1rem;
}

div.new input,
div.new button,
div.new select {
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */