<div class="new">
    <h1>Insira a palavra a ser adicionada.</h1>
    <br>
    <form method="post">
        <input type="text" placeholder="Portuguese" name="pt">
        <input type="text" placeholder="English" name="en">
        <br>
        <select name="type">
            <option disabled hidden selected required>Select a type</option>
            <option value="animal">Animal</option>
            <option value="name">Name</option>
            <option value="food">Food</option>
            <option value="fruit">Fruit</option>
            <option value="letter">Letter</option>
            <option value="location">Location</option>
            <option value="number">Number</option>
            <option value="object">Object</option>
            <option value="other">Other</option>
            <option value="vegetable">Vegetable</option>
        </select>
        <br>
        <input type="submit">
    </form>
</div>